# Виртуальные окружения (у каждого в команде оно будет свое)
venv/
env/
.env/
.venv/

# Кэш Питона (генерируется автоматически, засоряет репозиторий)
__pycache__/
*.py[cod]
*$py.class

# Файлы с секретами, паролями и ключами (ОЧЕНЬ ВАЖНО не заливать их)
.env
.env.local
.secret

# Локальные базы данных (если будете использовать SQLite на старте)
*.sqlite3
db.sqlite3

# Всякие системные штуки (Mac/Windows)
.DS_Store
Thumbs.db
node_modules
